 <div id="headerdiv">
<header id="header1">
        <div id="d2">
      <img id="logo" src="https://tse2.mm.bing.net/th?id=OIP.1w32jfmwnv_lLfEVOQnlZgHaH6&pid=Api&P=0&h=180">
      <h1 id="h1">VoyageVista</h1>
      <div id="d3">
        <a class="A3" href="/">Home</a>
        <a class="A3" href="/Review">Review</a>
        <a class="A3" href="/Booking">Booking</a>
        <a class="A3" href="/AdminLogin">Admin Login</a>
        <a class="A3" href="/Contact">Contact</a>
      </div>
      
    </div>
    
        
    
    </header>
 </div>
 


    <nav>
      <a class="A1" href="/Camping"><img class="I1"
          src="https://tse4.mm.bing.net/th?id=OIP.ynEUBWBVrgNQoKqGuf8CBAHaHa&pid=Api&P=0&h=180" />Camping</a>
      <a class="A1" href="/CyclingTours"><img class="I1"
          src="https://tse2.mm.bing.net/th?id=OIP.Jcou-oodr45I8LSUgU1VawAAAA&pid=Api&P=0&h=180" />Cycling Tours</a>
      <a class="A1" href="/ScubaDiving"><img class="I1"
          src="https://tse4.mm.bing.net/th?id=OIP.JlkFnfGoiBxLgUt0KxcLvAHaHa&pid=Api&P=0&h=180" />Scuba Diving</a>
      <a class="A1" href="/Surfing"><img class="I1"
          src="https://tse2.mm.bing.net/th?id=OIP.N8RHL-6VJnJncdiXSDri4QHaHX&pid=Api&P=0&h=180" />Surfing</a>
      <a class="A1" href="/Canoeing"><img class="I1"
          src="https://tse4.mm.bing.net/th?id=OIP.0T4fw_WTO8713vP9tvE-FAHaHa&pid=Api&P=0&h=180" />Canoeing</a>
      <a class="A1" href="/Ziplining"><img class="I1"
          src="https://tse4.mm.bing.net/th?id=OIP.y4g46jPKl1QOdQLYY1MjLgHaHd&pid=Api&P=0&h=180" />Ziplining</a>
      <a class="A1" href="/CaveExploration"><img class="I1"
          src="https://tse1.mm.bing.net/th?id=OIP.Atl6k6m6b9BMn7N2MllcWgHaHa&pid=Api&P=0&h=180" />Cave Exploration</a>
      <a class="A1" href="/SandBoarding"><img class="I1"
          src="https://tse3.mm.bing.net/th?id=OIP.0cAulq8lLFqCZI4Q1vZL4AHaHa&pid=Api&P=0&h=180" />Sand Boarding</a>
      <a class="A1" href="/KiteSurfing"><img class="I1"
          src="https://tse2.mm.bing.net/th?id=OIP.tSWNcwYMtSQwC_0c29kW8gHaHV&pid=Api&P=0&h=180" />Kite Surfing</a>
      <a class="A1" href="/IceClimbing"><img class="I1"
          src="https://tse4.mm.bing.net/th?id=OIP.FmfR7UacC6eF5nLiUVDuuQHaHa&pid=Api&P=0&h=180" />Ice Climbing</a> 
            

    </nav>

    

    