<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
    <title>AdminOptions</title>
     <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    
    <form   id="Adminoptions">
          <div id="d2">
      <img id="logo" src="https://tse2.mm.bing.net/th?id=OIP.1w32jfmwnv_lLfEVOQnlZgHaH6&pid=Api&P=0&h=180">
      <h1 id="h1">VoyageVista</h1>
      </div>
        <h1 id="Adminoptionshead">Admin Options</h1>
        <a href="/Allreviews" id="H7" >Access All Reviews</a>
        <a href="/Allbookings" id="H8" >Access All Bookings</a>
        
    </form>


     <script src="/JS/script.js"></script>
</body>
</html>