<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
    <title>AdminLogin</title>
     <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    
    <form action="/Admin" method="post" id="Admin">
          <div id="d2">
      <img id="logo" src="https://tse2.mm.bing.net/th?id=OIP.1w32jfmwnv_lLfEVOQnlZgHaH6&pid=Api&P=0&h=180">
      <h1 id="h1">VoyageVista</h1>
      </div>
        <h1 id="Adminhead">Admin Login</h1>
        <h3 class="H1">Admin Name:<input id="h4" type="password" placeholder="Enter Admin Name" name="adminname"></h3>
         <h3 class="H1">Password:<input  id="h10"  type="password" placeholder="Enter password" name="password"></h3>
          

           <button id="b1">Login</button>


    </form>


     <script src="/JS/script.js"></script>
</body>
</html>