<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/head.ejs');%>
      <title>Camping</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>

<body>
   <%- include('../partials/navigation.ejs');%>
      <h1 class="H2">Explore Camping!!!</h1>

      <div class="D1">

         <div class="D2">
            <img class="I2"
               src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2022/03/Camping-Nubra-Valley-Ladakh-in-India.jpg?w=1200&ssl=1">
            <ul class="UL1">
               <li >
                  <h3  class="H1">Place Name :</h3> Nubra Valley Ladakh in India
               </li>
               <li>
                  <h3 class="H1">Description:</h3>The spectacular Nubra Valley is also popular as the tri-arm valley and
                  it looks outstanding while camping over here. Visit the snow-clad mountains that mesmerize you with
                  their stunning beauty while the ancient gompas hold the mystery of the land to the campers.

                  If you want to experience the deep blue sky and soothing environment during camping, you can visit the
                  place between June and September. You will find luxurious tents over here to enjoy a fantastic camping
                  experience at this heavenly place.
               </li>
               <li>
                  <h3 class="H1">What to Expect:</h3> Nubra Valley is a high-altitude desert in Ladakh, offering
                  stunning landscapes of sand dunes, rivers, and mountains. Camping here provides a unique experience
                  with basic amenities, surrounded by the raw beauty of the Himalayas.
               </li>
               <li>
                  <h3 class="H1">Things to Do:</h3> Visit the sand dunes of Hunder, explore the monasteries, take a
                  camel safari on Bactrian camels, and enjoy the serene beauty of Diskit Monastery.
               </li>
               <li>
                  <h3 class="H1">Best Time to Visit:</h3> June to September, when the weather is relatively warmer and
                  the roads are accessible.
               </li>
            </ul>
            <a  class="A2" href="//Review" >"Write Your Review"</a>
             <a  class="A2" href="/Booking" >"Book Your Trip"</a>

         </div>


         <div class="D2">
            <img class="I2"
               src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2022/03/Camping-Devon-in-England.jpg?w=1000&ssl=1">
            <ul class="UL1">
               <li>
                  <h3 class="H1">Place Name :</h3>Devon in England
               </li>
               <li>
                  <h3 class="H1">Description:</h3>At Devon, you can find millions of miles stretched for the campers.
                  Visit Dartmoor and Exmoor which are the fascinating camping ground to pitch your tent. There are spots
                  where you can experience the outstanding view of craggy cliffs that slopes down to the Atlantic Ocean.

                  Camping at this place will be a great idea in Autumn as you can enjoy the spectacular view of the huge
                  red sun sets slowly on the horizon, making nature colorful.
               </li>
               <li>
                  <h3 class="H1">What to Expect:</h3> Devon offers picturesque camping spots, from coastal sites with
                  stunning sea views to countryside locations surrounded by rolling hills. The campsites range from
                  basic pitches to fully equipped glamping options.
               </li>
               <li>
                  <h3 class="H1">Things to Do:</h3> Enjoy coastal walks, surfing, and exploring quaint villages. Visit
                  Dartmoor National Park, or take a boat trip along the Jurassic Coast.
               </li>
               <li>
                  <h3 class="H1">Best Time to Visit:</h3>May to September, when the weather is warm and the countryside
                  is in full bloom.
               </li>
            </ul>
            <a class="A2" href="/Review">"Write Your Review"</a>
<a  class="A2" href="/Booking" >"Book Your Trip"</a>
         </div>

         <div class="D2">
            <img class="I2"
               src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2022/03/Camping-Yellowstone-National-Park-in-the-USA.jpg?w=1200&ssl=1">
            <ul class="UL1">
               <li>
                  <h3 class="H1">Place Name :</h3>Yellowstone National Park in the USA
               </li>
               <li>
                  <h3 class="H1">Description:</h3>While talking about the best camping sites around the world,
                  Yellowstone National Park will always be on the list. If you want an outstanding camping experience
                  along with other outdoor activities, like mountain biking, rock climbing, hiking, etc. you can arrange
                  a camp night at this area.

                  Once you are here you can enjoy the spectacular background of unique canyons, volcanic mountain
                  ranges, high-altitude lakes, explosive geysers, rivers with fishes, and so on. Set your tent near
                  natural hot springs where you can experience nature’s wonders. How do you feel if you find wolves and
                  grizzly bears roaming around the campfire while you are cooking some delicious foods? It’s out of the
                  world, isn’t so?
               </li>
               <li>
                  <h3 class="H1">What to Expect:</h3>Yellowstone offers a classic camping experience in one of the most
                  iconic national parks in the world. With a variety of campsites ranging from developed to backcountry,
                  you can choose the level of adventure that suits you.
               </li>
               <li>
                  <h3 class="H1">Things to Do:</h3>Explore geysers, hot springs, and wildlife like bison and grizzly
                  bears. Go hiking, fishing, or take scenic drives to enjoy the park’s diverse landscapes.
               </li>
               <li>
                  <h3 class="H1">Best Time to Visit:</h3>Late May to early October, when most of the park’s facilities
                  are open and the weather is favorable.
               </li>
            </ul>
            <a class="A2" href="/Review">"Write Your Review"</a>
<a  class="A2" href="/Booking" >"Book Your Trip"</a>
         </div>



         <div class="D2">
            <img class="I2"
               src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2022/03/Camping-Rishikesh-Uttarakhand-in-India.jpeg?w=1200&ssl=1">
            <ul class="UL1">
               <li>
                  <h3 class="H1">Place Name :</h3>Rishikesh Uttarakhand in India
               </li>
               <li>
                  <h3 class="H1">Description:</h3>Don’t ignore the call of the Himalayas and plan a trip to Rishikesh
                  for camping. This place is very close to adventurists as Rishikesh is known as the ‘Adventure Capital
                  of India’. You can experience a wide variety of adventure sports here while camping because you get
                  numerous options of camping here.

                  You can go for forest camping, beach camping, riverside camping, luxury camping, and so on. There are
                  so many camping zones in Rishikesh, like Paddler Zone Camp, Nature Valley Camp, Panchvati Cottage
                  Camp, and so on.
               </li>
               <li>
                  <h3 class="H1">What to Expect:</h3>Don’t ignore the call of the Himalayas and plan a trip to Rishikesh
                  for camping. This place is very close to adventurists as Rishikesh is known as the ‘Adventure Capital
                  of India’. You can experience a wide variety of adventure sports here while camping because you get
                  numerous options of camping here.

                  You can go for forest camping, beach camping, riverside camping, luxury camping, and so on. There are
                  so many camping zones in Rishikesh, like Paddler Zone Camp, Nature Valley Camp, Panchvati Cottage
                  Camp, and so on.
               </li>
               <li>
                  <h3 class="H1">Things to Do:</h3> Participate in yoga and meditation, go river rafting, and explore
                  the local temples and ashrams. Don’t miss the evening Ganga Aarti at Parmarth Niketan.
               </li>
               <li>
                  <h3 class="H1">Best Time to Visit:</h3>March to May and September to November, avoiding the monsoon
                  season.
               </li>
            </ul>
            <a class="A2" href="/Review">"Write Your Review"</a>
<a  class="A2" href="/Booking" >"Book Your Trip"</a>

            <div id="footer">

               <footer>
                  <ul id="ul1">
                     <li>VoyageVista Private Limited</li>
                     <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
                     <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
                  </ul>
               </footer>


            </div>

         </div>




      </div>
<a id="Arrow" href="/Camping">⬆</a>



      <script src="/JS/script.js"></script>
</body>

</html>