<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs');%>
    <title>Canoeing</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <%- include('../partials/navigation.ejs');%>

    <h1 class="H2">Explore Canoeing!!!</h1>

   <div class="D1">

      <div class="D2">
         <img class="I2" src="https://boatingbeast.com/wp-content/uploads/2022/04/Norway.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Norway</li>
            <li><h3 class="H1">Description:</h3>Staying in Europe, we move over to Norway. Norway is one of the meccas of playboating and creek boating, featuring locations with massive technical drops and elite rivers and rapids for those that want to push their limits.</li>
            <li ><h3 class="H1">What to Expect:</h3> You get access to breathtaking coastal scenery and fjords, with some of the best kayaking rivers in the world.</li>
            <li><h3 class="H1">Things to Do:</h3> You’ll find a river for any experience level, from beginner to elite. Start your kayaking trip with a run of the West Fjord, moving out of Oslo. Remember to make a stop at the coastal towns of Hidra Island and Helgeland.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="https://boatingbeast.com/wp-content/uploads/2022/04/Sloveina.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Slovenia</li>
            <li><h3 class="H1">Description:</h3>Do you want to visit a destination with ice-blue waters so clear you can see the pebbles at the bottom of the river?

We recommend heading to the Soča river in Slovenia. Check out the feeds of Instagram kayakers, and you’re bound to see plenty of shots of the crystal-clear waters of the Soča.</li>
            <li ><h3 class="H1">What to Expect:</h3>While there’s only one river in the country worth kayaking, it’s the trip of a lifetime and something that you won’t experience at any other kayaking destination in the world.</li>
            <li><h3 class="H1">Things to Do:</h3> The water looks so good you just want to jump right in. However, take along your drysuit because it’s absolutely freezing.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>

      <div class="D2">
         <img class="I2" src="https://boatingbeast.com/wp-content/uploads/2022/04/Ottawa-RIver.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Ottawa
</li>
            <li><h3 class="H1">Description:</h3>You’re missing out if you haven’t been to Canada on a kayaking trip. Sometimes you don’t have to go halfway around the world to have a good time in the water. Our neighbor to the north has plenty of amazing kayaking locations.</li>
            <li ><h3 class="H1">What to Expect:</h3>The standout is the Ottawa River, where you’ll find big water, powerful rapids, and surfable waves. The Ottawa River offers you some of the safest experiences you’ll ever have in big water conditions.

Two channels provide a range of rapids in different classes to suit your experience level. Some of the world’s top kayakers choose to visit the Ottawa River in the spring.</li>
            <li><h3 class="H1">Best Time to Visit:</h3>The snow-melt season makes for some huge waves in the water. However, take along your cold water gear as the meltwater from the mountains is simply bone-chilling.</li>
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
<a  class="A2" href="/Booking" >"Book Your Trip"</a>
           <div id="footer">

       <footer>
  <ul id="ul1">
    <li>VoyageVista Private Limited</li>
    <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
    <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
  </ul>
</footer>
        
         
        </div>
       


      
    

         
      </div>

     
   </div>
    <a id="Arrow" href="/Canoeing">⬆</a>



    
    <script src="/JS/script.js"></script>
</body>
</html>