<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs');%>
    <title>CaveExploration</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <%- include('../partials/navigation.ejs');%>

    <h1 class="H2">Explore Caves!!!</h1>

   <div class="D1">

      <div class="D2">
         <img class="I2" src="https://media.timeout.com/images/105875364/1024/576/image.webp">
         <ul class="UL1">
            <li ><h3 class="H1">Cave Name :</h3>Sơn Đoòng, Vietnam</li>
            <li><h3 class="H1">Description:</h3>Natural caves don’t come much larger than Sơn Đoòng, close to the border between Laos and Vietnam. This mammoth abyss has the largest cross-section of any known cave on the planet, a vast area that is difficult to describe. Supposedly, a Boeing 747 could fly through without damaging its wings, but that doesn’t really do justice to the vastness of Sơn Đoòng. The stalagmites here are pretty massive too, with some reaching up to a whopping 70 metres.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="https://media.timeout.com/images/105875359/1024/576/image.webp">
         <ul class="UL1">
            <li ><h3 class="H1">Cave Name :</h3>Reed Flute Cave, China</li>
            <li><h3 class="H1">Description:</h3>China’s Reed Flute Cave is also known as the ‘Palace of the Natural Arts’, and that should tell you plenty about what to expect. Named after the reeds that grow outside (which are used to make flutes, obviously), the Reed Flute Cave’s walls are peppered with inscriptions from centuries gone by – proof if proof were needed that people have been paying attention to this place for a long old time. The interior of the cave is also lit up by multicoloured lights, giving it a real otherworldly theme that adds weight to the nickname. </li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>

      <div class="D2">
         <img class="I2" src="https://media.timeout.com/images/105875357/1024/576/image.webp">
         <ul class="UL1">
            <li ><h3 class="H1">Cave Name :</h3>Mammoth Cave, USA
</li>
            <li><h3 class="H1">Description:</h3>If you have certain expectations from somewhere called ‘Mammoth Cave’, that is entirely understandable. Mammoth Cave in Kentucky is the world’s longest known cave system, an incredible 420 miles of subterranean wonder. That’s twice as long as the next longest, by the way, although it isn’t unusual for the US to go all out on such things. Madly, the cave is home to some vast theatres and avenues, and tours have been known to last more than six hours.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      
      <div class="D2">
         <img class="I2" src="https://media.timeout.com/images/105875361/1024/576/image.webp">
         <ul class="UL1">
            <li ><h3 class="H1">Cave Name :</h3>Marble Cathedral, Chile</li>
            <li><h3 class="H1">Description:</h3>What an incredible, incredible sight. The dark and dingy nature of underground life conjures something in our imaginations, but the Marble Cathedral in Patagonia shimmers without such requirements. The most beautiful cave on the planet? Beauty is subjective, but it is difficult to look past the case made by the cerulean pillars and vaulted ceilings of this stunner. Found on the shore of the General Carrera Lake in Chile, the Marble Cathedral is a pilgrimage well worth making.</li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>

         <div id="footer">

       <footer>
  <ul id="ul1">
    <li>VoyageVista Private Limited</li>
    <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
    <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
  </ul>
</footer>
        
         
        </div>
      </div>

       
       

   </div>
    <a id="Arrow" href="/CaveExploration">⬆</a>



     <script src="/JS/script.js"></script>
</body>
</html>