<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
    <title>Contact</title>
     <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    
    <form  id="Contact">
          <div id="d2">
      <img id="logo" src="https://tse2.mm.bing.net/th?id=OIP.1w32jfmwnv_lLfEVOQnlZgHaH6&pid=Api&P=0&h=180">
      <h1 id="h1">VoyageVista</h1>
      </div>
        <h1 id="Contacthead">Contact Information</h1>
        <ul id="ul2">
            <li ><h3 class="H1" id="h12" >Company Name:Voyage Vista Pvt. Ltd.</h3></li>
        <li ><h3  class="H1" id="h13" >Owner Name:Mr.Maharshi N. Danidhariya</h3></li>
        <li ><h3 class="H1" id="h14">Since:23/02/2005</h3></li>
        <li ><h3 class="H1" id="h15">Email:voyagevista@pvt.ltd.in</h3></li>
        <li ><h3  class="H1" id="h16" >TollFree Number:123</h3></li>
        <li ><h3  class="H1" id="h17">Additional TollFree Number:456</h3></li>
        <li ><h3  class="H1" id="h18">Address:abc,xyz</h3></li> 
        <li ><h3  class="H1" id="h19">Instagram:VovageVista_Pvt_Ltd </h3></li>
        <button id="b1"> <a href="/Download">Download Info.</a></button>
        </ul>
        
        

           


    </form>


     <script src="/JS/script.js"></script>
</body>
</html>