<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs');%>
    <title>MountainBiking</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <%- include('../partials/navigation.ejs');%>

    <h1 class="H2">Explore CyclingTours!!!</h1>

   <div class="D1">

      <div class="D2">
         <img class="I2" src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2023/06/Meghalaya-Cycling-Tour.jpg?w=1024&ssl=1">
         <ul class="UL1">
            <li ><h3 class="H1">Tour Name :</h3> Meghalaya Cycling Tour</li>
            <li><h3 class="H1">Description:</h3>This place is known for its lush green valleys and outstanding scenic beauty. Misty mountains give this place a paradise ambiance. By visiting this place through a cycling tour, you will get in touch with tremendous cultural diversity. If you want to watch several natural marvels and experience a magical journey, go on the Meghalaya cycling tour in India.

A six-day bike tour can help you explore this hill station quite well. You can start your journey sojourn from the rolling meadows of Shillong and end your trip by enjoying breathtaking views of Cherrapunji. On this tour, you can enjoy several beautiful views of Meghalaya. Moreover, you will indeed have a holistic experience after this tour.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2023/06/Cycling-Tour-in-Vietnam.jpg?w=1200&ssl=1">
         <ul class="UL1">
            <li ><h3 class="H1">Tour Name :</h3>Cycling Tour in Vietnam</li>
            <li><h3 class="H1">Description:</h3>On this cycling trip, you will find many Vietnam War sites; my Lai is the most remarkable among them. One of the prime attractions of this trip is visiting the 8th-century Cham temple. Throughout your journey, you can taste their traditional foods and magically integrate flavors from other countries.</li>
            <li ><h3 class="H1">What to Expect:</h3> Besides some quiet country roads, you will be going to watch several small attractions such as –

Rice paddies
Rustic seaside villages
Traverse lush jungle
Shrimp farms and many more.</li>
            <li><h3 class="H1">Things to Do:</h3> You will also consider this trip a cultural excursion, which takes nearly 12 days. You can start your journey in beautiful Ho Chi Minh City and end your journey in Hanoi. Depending on your speed and surrounding situation, you can range your daily rides from 12 to 40 miles.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>

      <div class="D2">
         <img class="I2" src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2023/06/Cycling-Tour-in-Nepal.jpg?w=1200&ssl=1">
         <ul class="UL1">
            <li ><h3 class="H1">Tour Name :</h3>Cycling Tour in Nepal
</li>
            <li><h3 class="H1">Description:</h3>This stunning place comes under one of the world’s great mountain biking destinations. In Nepal, you can make a 12-day long trip. You can start your journey from Pokhara and end in Kathmandu. The most suitable time for this trip is October to January or April.</li>
            <li ><h3 class="H1">What to Expect:</h3>You will have a great cycling ride across diverse terrain besides enjoying the stunning scenery.</li>
            <li><h3 class="H1">Things to Do:</h3>In the Pokhara region, you can enjoy several attractions, which include –

Excellent views of the Annapurna Massif
The scenic beauty of the Marshyangdi River
Kali Horseshoe (etc.)</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      
      <div class="D2">
         <img class="I2" src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2023/06/Cycling-Tour-on-Pacific-Coast-United-States.jpg?w=1200&ssl=1">
         <ul class="UL1">
            <li ><h3 class="H1">Tour Name :</h3>Cycling Tour on Pacific Coast, United States</li>
            <li><h3 class="H1">Description:</h3>To explore a fascinating scenic beauty, go on a Pacific Coast Highway cycling trip. Here, you can enjoy spectacular ocean views. While cycling, you can see massive redwood trees. The beauty of classic cities like San Francisco will amaze you.</li>
            <li ><h3 class="H1">What to Expect:</h3>Don’t ignore the call of the Himalayas and plan a trip to Rishikesh for camping. This place is very close to adventurists as Rishikesh is known as the ‘Adventure Capital of India’. You can experience a wide variety of adventure sports here while camping because you get numerous options of camping here.

You can go for forest camping, beach camping, riverside camping, luxury camping, and so on. There are so many camping zones in Rishikesh, like Paddler Zone Camp, Nature Valley Camp, Panchvati Cottage Camp, and so on.</li>
            <li><h3 class="H1">Things to Do:</h3> You can explore several cities such as –

California
Washington
Oregon (etc.)</li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         
<a  class="A2" href="/Booking" >"Book Your Trip"</a>
         
       <div id="footer">

       <footer>
  <ul id="ul1">
    <li>VoyageVista Private Limited</li>
    <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
    <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
  </ul>
</footer>
        
         
        </div>
      </div>

       

   </div>
    
<a id="Arrow" href="/CyclingTours">⬆</a>



    
    <script src="/JS/script.js"></script>
</body>
</html>