<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('../partials/head.ejs');%>
    <title>IceClimbing</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
 <%- include('../partials/navigation.ejs');%>

 <h1 class="H2">Explore IceClimbing!!!</h1>

   <div class="D1">

      <div class="D2">
         <img class="I2" src="https://img.rezdy.com/PRODUCT_IMAGE/18893/DSC_0089___Copy__2__lg.JPG">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3> Matanuska Glacier, USA</li>
            <li><h3 class="H1">Description:</h3>Opt to book a tour of the Matanuska Glacier in Alaska to become acquainted with this impressive feat of nature. Some itineraries will begin with a high-intensity hike before reaching the iconic ice walls. Here, beginners will receive an introduction to climbing and be taught proper training techniques. Those who are a little more experienced will be able to take on the more challenging and physically demanding walls. You will have the opportunity to lower into deep glacial shafts and canyons to be surrounded by ethereal bright blue ice.  </li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="http://www.bizarreglobehopper.com/wp-content/uploads/2014/02/svinafellsjokull-glacier-tongue-iceland.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Svínafellsjökull Glacier, Iceland</li>
            <li><h3 class="H1">Description:</h3>Iceland is one of the world's best ice climbing destinations thanks to more than 4,500 square miles of glaciers. A popular climbing destination is the Svínafellsjökull Glacier as it has a number of glacier walking and vertical ice climbing opportunities. Take a tour to uncover Svínafellsjökull’s otherworldly ridges, crevasses and cauldrons before climbing up one of the many ice walls. Absolute beginners and experienced climbers will love scaling this incredible glacier.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>

      <div class="D2">
         <img class="I2" src="https://www.snowmagazine.com/images/features/focus-on/Skiers%20looking%20out%20over%20mountain%20landscape_Skiing%20Zillertal%20Austria_CREDIT%20Tom%20Klocker.jpg?t=1674165033376">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3> Ötztal Valley, Austria
</li>
            <li><h3 class="H1">Description:</h3>Austria’s Ötztal Valley is the longest glaciated valley that runs southwards to the Tyrol mountains. There are approximately 39 icefalls in the area that vary from short ascents to mighty climbs that are over 1,600-feet tall. Experts can spend some time swapping between sun-lit routes and steep shaded inclines while beginners can practice on the smaller icefalls. This naturally frozen environment is a favorite among professionals and amateurs thanks to the outstanding alpine vistas and exhilarating routes.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>

           <div id="footer">

       <footer>
  <ul id="ul1">
    <li>VoyageVista Private Limited</li>
    <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
    <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
  </ul>
</footer>
        
         
        </div>
      </div>

     
       


      
     
   </div>
    <a id="Arrow" href="/IceClimbing">⬆</a>



    
     <script src="/JS/script.js"></script>
</body>
</html>