<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs');%>
  <title>VoyageVista</title>
   <link rel="stylesheet" href="CSS/style.css" />
 
</head>

<body>
  
<%- include('../partials/navigation.ejs');%>
<%- include('../partials/homepage.ejs');%>
<a id="Arrow" href="/">⬆</a> 





   
  <script src="/JS/script.js"></script>
</body>

</html>