<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs');%>
    <title>KiteSurfing</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <%- include('../partials/navigation.ejs');%>

    <h1 class="H2">Explore KiteSurfing!!!</h1>

   <div class="D1">

      <div class="D2">
         <img class="I2" src="https://cdn.bfldr.com/UTM69Z3S/at/hm5rjn7fpmw3p3r6pm8959b/iStock-533290413-LOW_RES.jpg?auto=webp&crop=3%3A2&quality=60&width=768">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3> Nubra Valley Ladakh in India</li>
            <li><h3 class="H1">Description:</h3>Step onto Mui Ne Beach, and you’ll be greeted with a sky filled with dozens of colorful kites flapping in the wind. Once just a tiny fishing village, the Vietnamese city’s legendary reputation of having some of the world’s best kitesurfing attracts kite enthusiasts from every corner of the planet.</li>
            <li ><h3 class="H1">Why not to miss:</h3> Besides world-class kite surfing, Mui Ne is home to two sets of sand dunes, the Red Dunes and the White Dunes, that are among the best places to go sandboarding in Southeast Asia.</li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="https://cdn.bfldr.com/UTM69Z3S/at/grrr4gg6tqkbq9fhfftpgb/iStock-1173354481-LOWRES.jpg?auto=webp&crop=3%3A2&quality=60&width=768">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3> Providenciales, Turks and Caicos</li>
            <li><h3 class="H1">Description:</h3>Another top destination for kitesurfing in the Carribean, Turks and Caicos’ Long Bay offers ideal surfing conditions year-round in warm turquoise waters and surrounded by thickets of mangrove trees. Though the wind is strong, there are many tucked away coves where kite surfers can enjoy a relaxing swim and sunbathing after a day of riding the winds.</li>
            <li ><h3 class="H1">Highlights:</h3> All the kitesurfing schools in the Turks and Caicos at located at Long Bay Beach, one of the country’s best beaches for kite surfing.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>

      <div class="D2">
         <img class="I2" src="https://cdn.bfldr.com/UTM69Z3S/at/v793h33jq3qmc9jt683jx79r/iStock-1179749470-LOWRES.jpg?auto=webp&crop=3%3A2&quality=60&width=768">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Florida Keys, Florida, United States
</li>
            <li><h3 class="H1">Description:</h3>Just outside of Miami are some of the best places in the United States to go kite surfing. The Florida Keys, especially Key West and Islamorada, have endless open spaces where kite surfers can freely carve through the crystal clear waters. Shallow waters with a soft sandy bottom make it a safe place for beginners or pros to test out new skills.</li>
            <li ><h3 class="H1">Highlights:</h3>Smathers Beach in Key West and Islamorada Flats are the best beaches to kite surf on your own or take lessons.</li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>

         <div id="footer">

       <footer>
  <ul id="ul1">
    <li>VoyageVista Private Limited</li>
    <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
    <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
  </ul>
</footer>
        
         
        </div>
      </div>

       
       


      
      
   </div>
<a id="Arrow" href="/KiteSurfing">⬆</a>


    <script src="/JS/script.js"></script>
</body>
</html>