<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../partials/head.ejs');%>
    <title>SandBoarding</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <%- include('../partials/navigation.ejs');%>
    <h1 class="H2">Explore  SandBoarding!!!</h1>

   <div class="D1">

      <div class="D2">
         <img class="I2" src="https://surfspots.org/wp-content/uploads/2024/01/4278067528_8070a23e04_b.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Great Sand Sea, Egypt</li>
            <li><h3 class="H1">Description:</h3>One fun fact about the Great Sand Sea is that it used to be an actual sea. Today, it is the third largest sand accumulation in the world, meaning there’s no doubt you’ll have a blast visiting the Great Sand Sea in Egypt.</li>
            
            <li><h3 class="H1">Things to Do:</h3> With it being so large, visitors have many different options for which type of dunes they want to experience sandboarding on. You can also find tours that offer sand surfing tours along with sunset desert safaris or a combo trip to the Siwa Oasis.</li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="https://surfspots.org/wp-content/uploads/2024/01/9dcb7dcebffd98efe1178f7388b6963e-1536x1028.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Great Sand Dunes National Park and Preserve, Colorado</li>
            <li><h3 class="H1">Description:</h3>If you’re taking a trip to this stunning National Park, it is well worth renting a board and experiencing sandboarding. Here, you’re on your own, allowing you more flexibility to try the dunes you want.</li>
           
            <li><h3 class="H1">Things to Do:</h3> After picking up a board from one of the local shops nearby, it is up to you which dunes you decide to try out. Check out this link to find out where to rent a board. </li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>

      <div class="D2">
         <img class="I2" src="https://surfspots.org/wp-content/uploads/2024/01/R-78.jpeg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Kangaroo Island, Australia
</li>
            <li><h3 class="H1">Description:</h3>Off the coast of Adelaide, Australia, you will find Kangaroo Island, known for its impressive landscapes and dunes. A piece from Kangaroo Island Tours Australia stated the dunes themselves were likely formed in the last 7,000 years by vicious winds.

</li>
            
            <li><h3 class="H1">Things to Do:</h3>The island offers multiple places to rent a board, which you can then take to the dunes for incredible fun. The island is also considered a heritage site, meaning it is well preserved, offering stunning views from the top of the dunes.</li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
          <div id="footer">

       <footer>
  <ul id="ul1">
    <li>VoyageVista Private Limited</li>
    <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
    <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
  </ul>
</footer>
        
         
        </div>
      </div>

      
       


      
   </div>
<a id="Arrow" href="/SandBoarding">⬆</a>


      <script src="/JS/script.js"></script>
</body>
</html>