<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
    <title>ScubaDiving</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <%- include('../partials/navigation.ejs');%>

    <h1 class="H2">Explore ScubaDiving!!!</h1>

   <div class="D1">

      <div class="D2">
         <img class="I2" src="https://www.travelandleisure.com/thmb/MGQOGbrNGphupRo35jod8VXrSK4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/galapagos-islands_SCUBA1222-46ce9db93a3a42e1b6013b54f6dcbdb1.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Galapagos Islands, Ecuador</li>
            <li><h3 class="H1">Description:</h3>If the idea of swimming among dolphins, eagle rays, turtles, sharks, and penguins sounds enticing, head to the Galapagos Islands. This Ecuadorean archipelago has long lured wildlife lovers with a host of land animals like giant tortoises and blue-footed boobies. Its marine life is just as dramatic, but you’ll have to work to see it. The dive conditions can get rough with strong currents, and some outfitters will only take you if you’ve logged 50 or 100 dives.</li>
            <li><h3 class="H1">Uniqueness:</h3>For those who meet the credentials, a liveaboard is a great way to see the Galapagos. These boats provide access to hard-to-reach scuba spots like Darwin Island, where whale sharks, hammerheads, mantas, and penguins leave divers awestruck and ready for more.</li>
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="https://www.travelandleisure.com/thmb/N5GNdmkY0fq6jwsKIB29XEBOe4A=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-visayas-philippines-SCUBAWORLD0325-bf9b7b3fce6f47bc95c9fbc69babbc7d.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Visayan Islands, Philippines</li>
            <li><h3 class="H1">Description:</h3>The Visayan Islands of the Philippines, referred to more casually as "the Visayas," are another one of Clue’s favorite dive spots. “It has everything from thresher sharks and whale sharks to some of the world’s best muck-diving (ocean-floor exploration) and macro-diving, as well as beautiful reefs, turtles, and schools of jacks,” he said.</li>
            <li ><h3 class="H1">What to Expect:</h3> The prime scuba season runs from about November to June, although thresher sharks can be seen here year-round. Try a liveaboard to pack in the sightseeing, or a dive resort like Evolution on Malapascua Island.</li>
            <li><h3 class="H1">Location:</h3>Puka beach in Boracay Island, Western Visayas, Philippines.</li>
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>

      <div class="D2">
         <img class="I2" src="https://www.travelandleisure.com/thmb/0Tmnq_OMJHLYrSHqNHXXNuElOgk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-lake-motosu-japan-SCUBAWORLD0325-5f0e5c55e28346cc9aaea6cc24b23d2f.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Halkidiki, Greece
</li>
            <li><h3 class="H1">Description:</h3>Diving in Greece doesn’t get much more dazzling than Halkidiki, a trident-shaped land mass in the north near the city of Thessaloniki. Scuba divers can admire the remnants of the region’s volcanic past, with steep drop-offs and rock formations, as well as abundant and colorful sea life.

</li>
            
            <li><h3 class="H1">Things to Do:</h3>Look for octopus, groupers, tuna, lobsters, eels, and even turtles. Shipwreck explorations are also popular here, and they’re available via dive centers like the one operating from the Sani Resort, which is working to protect Greece’s nature as the first carbon-neutral resort in the country</li>
        
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      
      <div class="D2">
         <img class="I2" src="https://www.travelandleisure.com/thmb/dnJFD5SLiyVnaJHWTSTWNqOGn4M=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-fiordland-new-zealand-SCUBAWORLD0325-0d3fe24b6f2c4ae6ab0f4603e070a2c4.jpg">
         <ul class="UL1">
            <li ><h3 class="H1">Place Name :</h3>Fiordland, New Zealand</li>
            <li><h3 class="H1">Description:</h3>This isn’t your average scuba dive. Fiordland, located along the craggy southern portion of New Zealand’s South Island, is a dramatic patchwork of towering granite peaks and remote fjords. It’s also among the wettest places on Earth—a feature that makes diving here even more enticing. Heavy rain creates a dark, tannin-stained top layer of seawater that invites typically deep-dwelling creatures closer to the surface.</li>
            <li ><h3 class="H1">What to Expect:</h3>Divers can also see sharks, rays, sea dragons, black and red corals, and dolphins. Scuba tours are limited here, and they do require a bit of effort, experience, and planning. For a new challenge, you could also try freediving—yes, without a tank—with boutique outfitter Wild Fiordland.</li>
            
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>

         
       <div id="footer">

       <footer>
  <ul id="ul1">
    <li>VoyageVista Private Limited</li>
    <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
    <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
  </ul>
</footer>
        
         
        </div>
       
      </div>


   </div>
<a id="Arrow" href="/ScubaDiving">⬆</a>


    <script src="/JS/script.js"></script>
</body>
</html>