<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('../partials/head.ejs');%>
    <title>Ziplining</title>
      <link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <%- include('../partials/navigation.ejs');%>
<h1 class="H2">Explore Ziplining!!!</h1>

   <div class="D1">

      <div class="D2">
         <img class="I2" src="https://res.cloudinary.com/manawa/image/private/f_auto,c_limit,w_3840,q_auto/yhqitva2vuszxfhedetw">
         <ul class="UL1">
            <li ><h3 class="H1">Zipline Name :</h3>Superman Zipline above the Adriatic Sea, Dubrovnik</li>
            <li><h3 class="H1">Description:</h3>This activity is the longest zip line over the Adriatic Sea! If you're looking for a challenge, here it is! Known for its magnificent scenery and crystal-clear waters, Dubrovnik is the little pearl of the Adriatic where you can enjoy a whole host of adventure activities. This superman zipline in Dubrovnik offers an experience at over 100 km/h (62 miles) above 70 metres (230 feet)! The lines are around 900 meters long (656 feet), which makes it an intense experience with views over the forest, spectacular cliffs, magnificent beach, and views on the island of Lokrum. The activity is supervised by experienced instructors and you'll be able to pick up speed in complete safety thanks to the magnetic brakes. What makes it one of the best zip lines is its "Superman" position - you'll fly lying down, with the option of putting your arms up to feel the ultimate feeling of freedom!</li>
            
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="https://res.cloudinary.com/manawa/image/private/f_auto,c_limit,w_3840,q_auto/wgrflcn9t3yysmkichgu">
         <ul class="UL1">
            <li ><h3 class="H1">Zipline Name :</h3>Flying Fox XXL near Salzburg, Austria</li>
            <li><h3 class="H1">Description:</h3>The next destination on the list of the best ziplines in the world is this seriously beautiful zipline in Salzburger Land in Austria! It is one of the fastest and longest zip lines in the world! Nestling in the heart of the Alps, this steel-cable slide can hurtle you along at speeds of up to 130 km/h (18 miles) for extreme sensations. You'll feel like you're flying, as you hang from a height of 143 meters (470 ft) over a distance of 1,600 meters (5250 ft). This activity can be compared to hang-gliding, but much faster - just to give you an idea of the thrills you'll be in for! The starting point is the valley of the Asitz, and once you're up and ready to slide, you'll have the chance to admire the Leogang mountains, a mountainous massif in the eastern Pre-Alps. Experiencing the Flying Fox XXL in Leogang is therefore a way of flying like a bird in the heart of the high, steep mountains of the Alps.</li>
            
            
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>

      <div class="D2">
         <img class="I2" src="https://res.cloudinary.com/manawa/image/upload/f_auto,c_limit,w_1920,q_auto/articles/3609/monteverde-2">
         <ul class="UL1">
            <li ><h3 class="H1">Zipline Name :</h3>Monteverde Zipline, Costa Rica
</li>
            <li><h3 class="H1">Description:</h3>Now let's head off to the planet's green paradise, where ecology is a way of life: Costa Rica! Considered to be one of the best zip lines in the world, this 2.5-hour activity is set in the heart of an environmentally-protected biological reserve! Located over 1,440 meters (4737 ft) high in the mountains, this forest is home to over 500 species of animals and 2,500 species of plants, many of which you can see during your Canopy adventure. The Monteverde zipline is an amazing way to immerse yourself in the lush forests of Costa Rica. You can ride the zipline on this Canopy Tour for over 1030 meters (3380 ft) of fun. You will also abseil 30 meters (98 feet), ride a Tarzan swing, and a superman cable of 1 kilometer long. The Canopy Tour of Monteverde is an exceptional way to immerse yourself in the mild tropical forests of Costa Rica...</li>
           
         </ul>
         <a class="A2" href="/Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>
      </div>


      <div class="D2">
         <img class="I2" src="https://res.cloudinary.com/manawa/image/upload/f_auto,c_limit,w_1920,q_auto/articles/3609/cetina">
         <ul class="UL1">
            <li ><h3 class="H1">Zipline Name :</h3>Cetina River Zipline, Omiš, Croatia
</li>
            <li><h3 class="H1">Description:</h3>Next up on the list of the most amazing ziplines in the world is the Cetina River zipline. The river Cetina is a river that originates in the mountains of Dalmatia (the source itself is worth a visit!) and it flows towards the Adriatic for about 100 km (62 miles). But it’s the last few kilometers to the Sea that created this splendid canyon, close to the cities of Omiš and Split. If you opt for the Cetina River zipline, be ready to go on the adventure of a lifetime! Your guide will pick you up at Omiš and will take you 3 kilometers away, into the heart of the Croatian forest. Your guide will help you gear up, and you will be ready to go! This zipline experience consists of eight steel cables stretched across the canyon, you will descend one section at a time. At a total length of 2100 meters (6890 ft), 510 meters (1673 ft) high in the air, prepare yourself for an exciting ride towards the depths of the canyon! Be prepared to live a crazy 3-hour-long experience!</li>
            
         </ul>
         <a class="A2" href="Review">"Write Your Review"</a>
         <a  class="A2" href="/Booking" >"Book Your Trip"</a>

          <div id="footer">

       <footer>
  <ul id="ul1">
    <li>VoyageVista Private Limited</li>
    <li>Follow us on Instagram: VovageVista_Pvt_Ltd </li>
    <li>Owned By:-Mr.Maharshi N. Danidhariya</li>
  </ul>
</footer>
        
         
        </div>
       
      </div>

      
    

   </div>
    
<a id="Arrow" href="/Ziplining">⬆</a>


    
    <script src="/JS/script.js"></script>
</body>
</html>